<!DOCTYPE html>
<html lang="en">
<head>
    <title>CenturyLink Cloud Cost Estimator</title>
    <meta charset="UTF-8" />
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "activate" %>
    <%= stylesheet_link_tag "rangeslider" %>
    <%= stylesheet_link_tag "main" %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600' rel='stylesheet' type='text/css'>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45856849-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

    <%= yield %>

    <%= javascript_include_tag  "https://code.jquery.com/jquery-1.11.2.min.js" %>
    <%= javascript_include_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
    <%= javascript_include_tag  "vendor", "all" %>

    <script language='javascript'>
        var lpMTagConfig = {
            'lpServer': "sales.liveperson.net",
            'lpNumber': "56948775",
            'lpProtocol': (document.location.toString().indexOf('https:') == 0) ? 'https' : 'http'
        };
        function lpAddMonitorTag(src) {
            if (typeof (src) == 'undefined' || typeof (src) == 'object') {
                src = lpMTagConfig.lpMTagSrc ? lpMTagConfig.lpMTagSrc : '/hcp/html/mTag.js';
            } if (src.indexOf('http') != 0) {
                src = lpMTagConfig.lpProtocol + "://" + lpMTagConfig.lpServer + src + '?site=' + lpMTagConfig.lpNumber;
            } else {
                if (src.indexOf('site=') < 0) {
                    if (src.indexOf('?') < 0) src = src + '?'; else src = src + '&'; src = src + 'site=' + lpMTagConfig.lpNumber;
                }
            };
            var s = document.createElement('script');
            s.setAttribute('type', 'text/javascript');
            s.setAttribute('charset', 'iso-8859-1');
            s.setAttribute('src', src);
            document.getElementsByTagName('head').item(0).appendChild(s);
        }
        if (window.attachEvent)
            window.attachEvent('onload', lpAddMonitorTag); else window.addEventListener("load", lpAddMonitorTag, false);
    </script>

    </body>
</html>
